body{
    background-color:blue ;
}


      body  button:hover {
            background-color: brown;
            color: white
            
        }  

    
      body  p  {
            font-weight: bold;
            color: yellow
        }
    